<mat-table [dataSource]="pizza" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ingredients">
      <mat-header-cell *matHeaderCellDef> Składniki </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <ng-container *ngFor="let ingredient of row.ingredients">
          {{ingredient.name}}
        </ng-container>  
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="sizes">
      <mat-header-cell *matHeaderCellDef> Rozmiary </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <ng-container *ngFor="let size of row.sizeAndCosts">
          {{size.size}}cm, {{size.cost}}zł<br/>
        </ng-container>  
      </mat-cell>
    </ng-container>
  

      <ng-container matColumnDef="card">
        <mat-header-cell *matHeaderCellDef>Koszyk</mat-header-cell>
        <mat-cell *matCellDef="let pizza">
          <button mat-button [matMenuTriggerFor]="menu">Dodaj</button>
            <mat-menu #menu="matMenu">
              <ng-container *ngFor="let size of pizza.sizeAndCosts">
                <div>
                  <button mat-button (click)="addToCard(pizza,size)"> {{size.size}}cm, {{size.cost}}zł</button>
                </div>
              </ng-container>
            </mat-menu>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef>Usuń</mat-header-cell>
        <mat-cell *matCellDef="let pizza">
          <button mat-button (click)="deletePizza(pizza.id)">Usuń pizzę</button>
        </mat-cell>
      </ng-container>
    

    <mat-header-row *matHeaderRowDef="['name', 'ingredients', 'sizes','card','remove']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'ingredients', 'sizes','card','remove']"></mat-row>
  </mat-table>